/* added bulma */

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */

.logo {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}
 div#map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  position: relative;
	padding-top: 50%;
  }
  
  #map {
  position: relative;
	padding-top: 50%;
  
 
  }
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,  /* Makes map run */

  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffC2B4;
    margin: 10px;
    padding: 10px;
  }

  /* main bpx css */
  form {
    max-width: 700px;
    min-height: 300px;
  }

  #cityname {
    max-width: 300px;
  }



  @media screen and (min-width: 1200px) {
    #map {
      width: 600px;
    }
  }

  @media screen and (max-width: 320px) {
    #map {
      width: 160px;
    }
  }

  #yelp-location {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #yelp-btn {
      display: flex;
      margin: 4px;
      justify-content: center;
  }
  #yelp-stuff {
      display: flex;
      justify-content: center;
      margin: 10px;
      padding: 5px;
  }

